@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:600,700|Teko&display=swap');

body {
    background: url("background.jpeg");
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    height: auto !important;
    height: 100%;
  
    /* Box-model */
    min-height: 100%;
  
    /* Positioning */
    margin: 0 auto -60px;
}

nav {
    width: 100%;
    display: flex;
    background-color: wheat;
    position: fixed;
    justify-content: space-around;
    height: 40px;
    border-bottom: 2px solid red; 
}

#logo {
    color: #FF4136;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: 800;
    padding-top: 8px;
}

.nav-items {
    display: flex;
    flex-basis: 25%;
    justify-content: space-between;
    padding-top: 10px;
}

.nav-items li {
    width: 100%;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: grey;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#menu-bars {
    font-size: 28px;
    padding: 7px;
    color: red;
    display: none !important;
}

footer,
.push {
  height: 60px;
}

footer {
  /* Box-model */
  padding: 30px 0;

  /* Positioning */
  clear: both;
  font-size: 12px;

  /* Typography */
  color: #ccc;
  text-align: center;

  /* Visual */
  background: #666;
  border-top: 6px solid red;
}

@media only screen and (max-width: 1150px) {
    .nav-items {
        flex-basis: 35%;
    }
}

@media only screen and (max-width: 900px) {
    .nav-items {
        flex-basis: 45%;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        overflow-x: hidden;
    }

    nav {
       position: relative;
    }

    #logo {
       position: absolute;
       left: 20px;
       top: 0; 
    }
    
    .nav-items {
       width: 100%;
       height: 80px;
       position: absolute;
       top: 40px;
       background-color: rgb(245, 222, 179, 0.8);
       display: flex;
       flex-flow: column;
       align-content: space-between;
       transform: translateX(100%);
       transition: transform 0.8s ease;
    }  

    #menu-bars {
        display: block !important;
        position: absolute;
        right: 30px;
    }

    .nav-active {
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 640px) {
}